<div class="title-block">
    <h2 class="title">
        Planning page <span class="sparkline bar"></span>
    </h2>
</div>
<section *ngIf="isLoaded" class="section">
    <div class="row">
        <div class="col">
            <div class="card">

                <div class="card-header card-header-sm bordered">
                    <div class="header-block">
                        <h3 class="title">Outlay</h3>
                    </div>
                    <h5 class="planning-expenses pull-right">
                        Total balance: <span class="text-success">
                            {{bill.value | number:'1.2' }}
                             {{bill.currency}}</span>
                    </h5>
                </div>
                <div class="card-block">

                    <div class="row" *ngFor="let category of categories">
                        <div class="col-5">

                            <div class="progress" style="height: 25px; display: flex;">
                                <div class="progress-bar bg-{{getCategoryClass(category)}}" [ngStyle]="{'width': getCategoryPercent(category)}">
                                    {{category.categoryName}}
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class='row'>


                                <div class="col-6 text-right">
                                    <span class="text-{{getCategoryClass(category)}}">{{getCategoryCost(category) | number: '1.2'}}</span> from
                                    <span class="text-primary">{{category.capacity | number: '1.2'}}</span> </div>
                                <div class="col-6"> | Limit:
                                    <span class="text-{{getCategoryClass(category)}}">
                                    {{category.capacity - getCategoryCost(category) | number:'1.2'}}</span> ({{bill.currency}})
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="!isLoaded" class="text-center text-capitalize text-danger">
    Loading ...
</section>