<div class="card">
    <div class="card-header bordered">
        <div class="header-block">
            <h3 class="title">Add new event</h3>
        </div>
    </div>
    <div class="card-block">
        <form #formEvent='ngForm' (ngSubmit)='onSubmit(formEvent)'>
            <div class="form-group">
                <label class="control-label" for="category">Choose category</label>
                <select class="form-control" ngModel name='category' id="category">
                    <option *ngFor="let cat of categoriesListForEvent"
                     [value] ='cat.categoryName'>{{cat.categoryName}}</option>                  
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Choose type</label>
                <div *ngFor="let type of types">
                    <label>
                        <input class="radio" name="type" type="radio" [value]='type.path' required
                        [ngModel]="'outcome'">
                        <span>{{type.label}}</span>
                    </label>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': amount.invalid && amount.touched}">
                <label class="control-label" for="amount">Enter amount</label>
                <input type="number" name='amount' autocomplete="off" required #amount='ngModel' [ngModel]='1' min='1' id="amount" class="form-control">
                <span class="form-help-text" *ngIf="amount.invalid && amount.touched">Please enter amount</span>

            </div>
            <div class="form-group" [ngClass]="{'has-error': description.invalid && description.touched}">
                <label class="control-label" for="description">Enter description</label>
                <input type="text" name='description' autocomplete="off" required #description='ngModel' [ngModel]='' id="description" class="form-control">
                <span class="form-help-text" *ngIf="description.invalid && description.touched">Please enter event description</span>

            </div>
            <div class="alert alert-{{message.type}}" *ngIf="message">{{message.text}}</div>

            <button type="submit" class="btn btn-primary" [disabled]='formEvent.invalid'>Add event</button>
        </form>
    </div>
</div>