.not-found {
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

h3 {
    font-size: 40px;
    color: red;
    font-weight: 800;
}

p {
    font-size: 45px;
}

a {
    font-size: 30px;
    color: white;
}