<div class="title-block">
    <h2 class="title pull-left">
        History page <span class="sparkline bar"></span>
    </h2>
    <div class="pull-right">
        <button class="btn-sm btn btn-primary-outline" (click)='onRefresh()'>
                <i class="fa fa-refresh"></i>
              </button>
    </div>
</div>
<div *ngIf="isLoaded">
    <core-history-chart *ngIf="isData" [data]='allDataForChart'></core-history-chart>
    <div class="text-danger m-2 text-center" *ngIf="!isData">No chart to show</div>

    <core-history-events [allCategories]='allCategories' [allEvents]='allEvents'></core-history-events>
    <core-history-filter></core-history-filter>
</div>
<div class="text-center text-capitalize text-danger" *ngIf="!isLoaded">Loading ...</div>