<div class="title-block">
    <h2 class="title pull-left">
        Bill page <span class="sparkline bar"></span>
    </h2>
    <div class="pull-right">
        <button class="btn-sm btn btn-primary-outline" (click)='onRefresh()'>
            <i class="fa fa-refresh"></i>
          </button>
    </div>
</div>
<section class="section">
    <div class="text-center text-capitalize text-danger" *ngIf="!isLoaded">
        <app-loader></app-loader>
    </div>
    <div class="row" *ngIf="isLoaded">
        <core-bill-card [bill]='bill' [currency]='currency' class="col-12 col-md-4   stats-col"></core-bill-card>
        <core-currency-card [currency]='currency' class="col-12 col-md-8   history-col"></core-currency-card>
    </div>
</section>