<div class="title-block">
    <h2 class="title pull-left">
        Records page <span class="sparkline bar"></span>
    </h2>
    <div class="pull-right">
        <button class="btn-sm btn btn-primary-outline" (click)='onRefresh()'>
                <i class="fa fa-refresh"></i>
              </button>
    </div>
</div>
<section class="section" *ngIf="isLoaded">
    <div class="row">
        <div class="col-md-6">
            <core-add-event [categoriesListForEvent]='categoriesList'></core-add-event>
        </div>
        <div class="col-md-6">
            <core-add-category (CategoryAdd)='newCategoryAdded($event)'></core-add-category>
        </div>
        <div class="col-md-12">
            <core-edit-category (CategoryEdit)='newCategoryEdit($event)' [categoriesList]='categoriesList'></core-edit-category>
        </div>
    </div>
</section>

<section class="section" *ngIf="!isLoaded">
    <div class="text-center text-capitalize text-danger">Loading ...</div>
</section>