<aside class="sidebar">
    <div class="sidebar-container">
        <h5 class="sidebar-title">
            <div class="sidebar-logo">
                <span><img src="src/assets/imgs/taxes.png" alt=""></span>
            </div>
            <div class="sidebar-text">
                <span>House-counting application</span>
            </div>
        </h5>
        <nav class="menu">
            <ul class="nav metismenu">

                <li routerLinkActive='active'>
                    <a [routerLink]='"/core/records"'>
                        <i class='fa fa-dollar
icon'>
                            </i> My records </a>
                </li>
                <li routerLinkActive='active'>
                    <a [routerLink]='"/core/bill"'>
                        <i class='fa fa-gear 
icon'>
                            </i> My bills </a>
                </li>
                <li routerLinkActive='active'>
                    <a [routerLink]='"/core/history"'>
                        <i class='fa fa-history icon'>
                            </i> My history </a>
                </li>
                <li routerLinkActive='active'>
                    <a [routerLink]='"/core/planning"'>
                        <i class='fa fa-balance-scale icon'>
                            </i> My planning </a>
                </li>

            </ul>
        </nav>
    </div>
</aside>